@import '../../lib/mixins';
@import '../../lib/variables.scss';

.password {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: $background-color;
  box-shadow: $box-shadow;

  grid-column: 1/ 3;
  
  @include large {
    grid-column: 2 / 3;
  }

  &__screen {
    border: none;
    width: 60%;
    height: 40px;
    font-size: 20px;
    padding: 5px 0;

    font-family: $font-famaly-main;
    background-color: inherit;

    &:focus {
      outline: none;
    }
  }

  &__line {
    position: absolute;
    height: 7px;
    bottom: -7px;
    left: 0;

    border-radius: 3px;
    transition-duration: .3s;
  }

  &__button-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__button {
    width: 25px;
    height: 25px;
    position: relative;

    border: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition-duration: .1s;

    &--adding {
      width: auto;
      height: 30px;
      padding: 5px;

      cursor: pointer;
      white-space: nowrap;

      font-family: $font-famaly-main;
      border-radius: 5px;
      background-color: #7c8ceb;
      animation: pulse 1.5s infinite;

      &:hover {
        background-color: rgb(204 161 222);;
      }
    }

    &--generate {
      background: url('../../images/icons/icon-generate.svg');
  
      &:active {
       transform: rotate(180deg);
      }
    }
  }
}

.password-animation {
  &-enter {
    opacity: 0;
    transform: translateX(30%);

    &-active {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  &-exit {
    opacity: .1;
    transform: translateY(0);

    &-active {
      opacity: 0;
      transform: translateX(0);
    }
  }
}

.password-animation-enter-active ,
.password-animation-exit-active  {
  transition: opacity 200ms, transform 200ms;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

