@import './lib/mixins';
@import './lib/variables';

body {
  background-color: #5b71fb;
}

.page {
  display: flex;
  height: 100vh;

  font-family: $font-famaly-main;

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px 1fr;
    gap: 20px;

    padding-top: 70px;
    margin: 0 auto;
    max-width: 1140px;
    box-sizing: border-box;

    @include large {
      padding-top: 0;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 50px 1fr;
    }
  }
}